<h1>キーワード応答メッセージ</h1>

<%= button_to '新規キーワード追加', new_keyword_reply_path, method: :get, class: 'btn btn-primary' %>

<table class="table table-hover">
  <tr>
    <th>キーワード</th>
    <th>応答タイプ</th>
    <th>応答メッセージ</th>
    <th />
  </tr>
  <tbody>
    <% @keyword_replies.each do |keyword_reply| %>
      <tr>
        <td><%= keyword_reply.keyword %></td>
        <td><%= keyword_reply.reply_type %></td>
        <td><%= keyword_reply.reply_word %></td>
        <td><%= link_to 'Show', keyword_reply %></td>
      </tr>
    <% end %>
  </tbody>
</table>
