<h1>KeywordReplies#new</h1>

<%= form_for(@keyword_reply) do |f| %>
  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <div class="field">
    <%= f.label :reply_type %>
    <%= f.text_field :reply_type %>
  </div>

  <div class="field">
    <%= f.label :reply_word %>
    <%= f.text_field :reply_word %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
