<h1>KeywordReplies#show</h1>

<table class="table table-hover">
  <tr>
    <th>キーワード</th>
    <th>応答タイプ</th>
    <th>応答メッセージ</th>
    <th />
    <th />
  </tr>
  <tbody>
    <tr>
      <td><%= @keyword_reply.keyword %></td>
      <td><%= @keyword_reply.reply_type %></td>
      <td><%= @keyword_reply.reply_word %></td>
      <td><%= link_to '編集', edit_keyword_reply_path(@keyword_reply) %></td>
      <td><%= link_to 'Destroy', @keyword_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'キーワード応答一覧', keyword_replies_path %>
