<!DOCTYPE html>
<html>
  <head>
    <title>SwallowTail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'SwallowTail', root_path, class: 'navbar-brand'%>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
