<!DOCTYPE html>
<html>
  <head>
    <title>SwallowTail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="title_bar"></div>
    <%= javascript_include_tag "webpack/title_bar" %>
    <%= yield %>
  </body>
</html>
